{{> Default/header }}

<body style="height: 100%; margin: 0%; padding: 0%; background-color:#010920; ">

<!-- Navigation -->
{{> Default/top-navigation }}

<!-- Page Content -->
<div class="container" >

    {{{ body }}}

</div>
<!-- /.container -->
{{> Default/footer }}