{{#if message}}
{{#each message}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{msg}}</strong>
    </div>
{{/each}}
{{/if}}



<div class="container">
    <div class="row">
            <div class="col-sm-8">
                <h1 style="text-align: justify;">Add New <b>Cases</b></h1>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-outline-success btn-lg" href="/admin/cases">
                    <i class="fa fa-list-alt" aria-hidden="true">View List</i>
                </a>
            </div>
    </div>
    
    <div class="row">
        <div class="col-md-10">
            <div class="card card-register mx-auto my-5">                        
                <form class="row" action="/Admin/Cases/create" method="POST" autocomplete="off" style="padding: 10px;">

                    <div class="form-group-sm col-sm-12" style="margin-top: 5px;">
                        <label for="posting">Posting</label>
                        <select name="posting" id="posting" class="form-control" required>
                            <option value="AllamaIqbalTown">Allama Iqbal Town</option>
                            <option value="Anarkali">Anarkali</option>
                            <option value="BarkiRoad">Barki Road</option>
                            <option value="Cantt">Cantt</option>
                            <option value="Chung">Chung</option>
                            <option value="DefenceA">Defence A</option>
                            <option value="FaisalTown">Faisal Town</option>
                            <option value="GardenTown">Garden Town</option>
                            <option value="GreenTown">Green Town</option>
                            <option value="Gulberg">Gulberg</option>
                            <option value="GulshanRavi">Gulshan Ravi</option>
                            <option value="Hadyara">Hadyara</option>
                            <option value="Ichra">Ichra</option>
                            <option value="JoharTown">Johar Town</option>
                            <option value="LytonRoad">Lyton Road</option>
                            <option value="ModelTown">Model Town</option>
                            <option value="Mozang">Mozang</option>
                            <option value="MughalPura">Mughal Pura</option>
                            <option value="MuslimTown">Muslim Town</option>
                            <option value="RaceCourse">Race Course</option>
                            <option value="Raiwind">Raiwind</option>
                            <option value="RaviRoad">Ravi Road</option>
                            <option value="Sabzazar">Sabzazar</option>
                            <option value="SamanAbad">Samanabad</option>
                            <option value="SarwarRoad">Sarwar Road</option>
                            <option value="Shadbagh">Shadbagh</option>
                            <option value="Shadman">Shadman</option>
                            <option value="ShadraTown">Shadra Town</option>
                        </select>

                    </div>
                                    
                    <div class="form-group-sm col-sm-12"style="margin-top: 5px;">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="latitudes">Latitudes</label>
                                <textarea class="form-control" id="lat" name="latitudes" required></textarea>
                            </div>

                            <div class="col-sm-6">
                                <label for="longitudes">Longitudes</label>
                                <textarea class="form-control" id="long" name="longitudes" required></textarea>
                            </div>
                        </div>            
                        <button class="btn btn-primary btn-sm" type="button" onclick="showPosition()" style="margin-top: 5px;">Show Position</button>
                    </div>
    
                    <div class="form-group-sm col-sm-4" style="margin-top: 5px;">
                        <label for="date">Date</label>
                        <input type="number" min="1" max="31" class="form-control" id="datepicker" name="date" placeholder="dd" required>
                    </div>

                    <div class="form-group-sm col-sm-4" style="margin-top: 5px;">
                        <label for="month">Month</label>
                        <input type="number" min="1" max="12" class="form-control" id="month" name="month" placeholder="mm" required>
                    </div>

                    <div class="form-group-sm col-sm-4" style="margin-top: 5px;">
                        <label for="year">Year</label>
                        <input type="number" min="2000" max="9999" class="form-control" id="year" name="year" placeholder="yyyy" required>
                    </div>

                    <div class="form-group-sm col-sm-6" style="margin-top: 5px;">
                        <label for="day">Day</label>
                        <select name="day" id="day" class="form-control" required>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select>
                    </div>                


                    <div class="form-group-sm col-sm-6" style="margin-top: 5px;">
                        <label for="time">Time</label>
                        <input type="time" class="form-control" id="time" name="time" placeholder="Enter The Time of crime" required>
                    </div>

                    <div class="form-group-sm col-md-6" style="margin-top: 5px;">
                        <label for="offences">Offences</label><br>
                        <input type="String" class="form-control" id="offences" name="offences" placeholder="Enter The Offence of crime" required>
                    </div>

                    <div class="form-group-sm col-md-6" style="margin-top: 5px;">
                        <label for="offenceCategory">Offence Category</label>
                        <select name="offenceCategory" id="offenceCategory" class="form-control" required>
                            {{#each categories}}
                                <option value="{{title}}">{{title}}</option>    
                            {{/each}}                    
                        </select>
                        <p class="card-text text-info"> Please Select offence category. </p> 
                    </div>                

                    <div class="form-group-sm col-md-12" style="margin-top: 5px;">
                        <label for="partOfTheDay">Part of the Day</label>
                        <small id="emailHelp" class="form-text text-muted">
                            Select <span class="badge badge-pill badge-info">1 for 12AM-4AM</span> ,
                                    <span class="badge badge-pill badge-info">2 for 4AM-8AM</span>,
                                    <span class="badge badge-pill badge-info">3 for 8AM-12PM</span>,
                                    <span class="badge badge-pill badge-info">4 for 12PM-4PM</span>,
                                    <span class="badge badge-pill badge-info">5 for 4PM-8PM</span>,
                                    <span class="badge badge-pill badge-info">6 for 8PM-12AM</span>.
                        </small>
                        <select name="partOfTheDay" id="partOfTheDay" class="form-control" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>

                    <div class="col-md-12" style="margin-top: 5px;">
                        <button class="btn btn-outline-success btn-sm" id="submit" type="submit" style="margin-top: 5px;">
                            <i class="fa fa-database" aria-hidden="true">Create Case</i>
                        </button>            
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
