<div class="row" id="main_div_index" style="background-image: url(./security1.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: fixed;">
    
    <div class="col-md-8">
            
        <div class="jumbotron" style="margin-top: 50px;">
            <img src="./logo.jpg" alt="logo" style="width: 30%; height: 10%; float:right;">
            <h1 class="display-3">CMAPS</h1>
            
            <p class="lead"><small>Crime Mapping Analysis and Prediction System</small></p>
            <p class="text-info">The Complete Security System</p>
        </div>

    <!-- Members Info Card -->
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h4>Gohar Aziz</h4>
                            <p class="text-secondary mb-1">Web Developer</p>
                            <p class="text-muted font-size-sm">Flask API Developer</p>
                            <p class="text-muted font-size-sm">Contributed in this project in Web and ML API, Integrated Analysis and Mapping modules. Assisted in Documentation</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="/zarnab.png" alt="Admin" class="rounded-circle" width="160">
                        <div class="mt-3">
                            <h4>Zarnab Shahid</h4>
                            <p class="text-secondary mb-1">Machine Learning Expert</p>
                            <p class="text-muted font-size-sm">Documentation Expert</p>
                            <p class="text-muted font-size-sm">Contributed in this project in Training and Testing Machine Learning Models and in Documention</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="/maham.png" alt="Admin" class="rounded-circle" width="160">
                        <div class="mt-3">
                            <h4>Maham Saeed</h4>
                            <p class="text-secondary mb-1">Android Developer</p>
                            <p class="text-muted font-size-sm">Documentation Expert</p>
                            <p class="text-muted font-size-sm">Contributed in this project in Android App, Data Preprocessing and Documentation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

 
        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            {{#each list}}
                                <li>
                                    <a href="#">{{title}}</a>
                                </li>
                            {{/each}}

                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!-- Side Widget 
        <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                
            </div>
        </div>
        -->
    </div>

</div>
<!-- /.row -->