<div class="card card-login mx-auto my-5">
    <div class="card-header">Login</div>
 
    <div class="card-body"> 
        <form action="/login" method="post" autocomplete="off">
 
            <div class="form-group">
                <label for="username">Username:</label>
                <input name="userName" class="form-control" id="userName" type="text" placeholder="Enter username" >
            </div>

           <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <div class="text-center">
            <a class="d-block small" href="/">Home Page?</a>
        </div>
    </div>
</div>
<br>
<br>
<br>
