<div class="row" style="background-image: url(./map.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: fixed;">
    <div class="col-md-8">

        <div class="jumbotron" style="margin-top: 10px;">
            <img src="./logo.jpg" alt="logo" style="width: 30%; height: 10%; float:right ;">
            <h1 class="display-3">CMAPS</h1>
            <p class="lead"><small>Crime Mapping Analysis and Prediction System</small></p>
            <p class="text-info">The Complete Security System</p>
        </div>

        <div class="embed-responsive embed-responsive-16by9" id="CombinedMap" style="margin-bottom: 10px; margin-top: 10px;">
            <h1 class="">Map 2018</h1>
            <iframe class="embed-responsive-item" src="./Maps/Combined Map.html" frameborder="0" style="height: 500px; float: left;">
            </iframe>
        </div>        
    </div>
</div> 