<div class="row" id="main_div_index" style="background-image: url(./security1.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: fixed;">
    
    <div class="col-md-8">
            
        <div class="jumbotron" style="margin-top: 50px;">
            <img src="./logo.jpg" alt="logo" style="width: 30%; height: 10%; float:right;">
            <h1 class="display-3">CMAPS</h1>
            
            <p class="lead"><small>Crime Mapping Analysis and Prediction System</small></p>
            <p class="text-info">The Complete Security System</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="card card-register mx-auto my-5">                        
                <form class="row" action="/predictionTwo" method="POST" autocomplete="off" style="padding: 10px;">

                    <div class="form-group-sm col-sm-12" style="margin-top: 5px;">
                        <label for="crime">Crime</label>
                        <select name="crime" id="crime" class="form-control" required>
                            <option value="Outraging the Modesty of Women">Outraging the Modesty of Women</option>
                            <option value="Other Crime">Other Crime</option>
                            <option value="Punjab Arms Ordinance Bill of 2015">Punjab Arms Ordinance Bill of 2015</option>
                            <option value="Punjab Information Temporary Residence Ordinance">Punjab Information Temporary Residence Ordinance</option>
                            <option value="Rape">Rape</option>
                            <option value="M/Cycle Theft">M/Cycle Theft</option>
                            <option value="Burglary">Burglary</option>
                            <option value="Robbery">Robbery</option>
                            <option value="Kidnapping">Kidnapping</option>
                            <option value="Non-Fatal Accident">Non-Fatal Accident</option>
                            <option value="Cheque Dishonour">Cheque Dishonour</option>
                            <option value="Miscellaneous">Miscellaneous</option>
                            <option value="Kite Flying act">Kite Flying act</option>
                            <option value="Begging Act">Begging Act</option>
                            <option value="Anti-Norcotics Act">Anti-Norcotics Act</option>
                            <option value="Punjab Security Ordinance 2015">Punjab Security Ordinance 2015</option>
                            <option value="Overspeeding">Overspeeding</option>
                            <option value="Other Vehicle Theft">Other Vehicle Theft</option>
                            <option value="Hurt (personal feud)">Hurt (personal feud)</option>
                            <option value="Punjab Sound System Regulation Ordinance">Punjab Sound System Regulation Ordinance</option>
                            <option value="Attack on Govt. Servant">Attack on Govt. Servant</option>
                            <option value="Narcotics">Narcotics</option>
                            <option value="Illegal Extortion">Illegal Extortion</option>
                            <option value="Electricity Act">Electricity Act</option>
                            <option value="Car Theft">Car Theft</option>
                            <option value="Gambling">Gambling</option>
                            <option value="Arms Ordinance Act">Arms Ordinance Act</option>
                            <option value="Anti-Terrorism Act">Anti-Terrorism Act</option>
                            <option value="Price Control Act">Price Control Act</option>
                            <option value="Fatal Accident">Fatal Accident</option>
                            <option value="M/Cycle Snatching">M/Cycle Snatching</option>
                            <option value="Attempted Murder">Attempted Murder</option>
                            <option value="Murder">Murder</option>
                            <option value="Punjab Local Government Ordinance 2016">Punjab Local Government Ordinance 2016</option>
                            <option value="One Wheeling Act">One Wheeling Act</option>
                            <option value="Loud Speaker Act">Loud Speaker Act</option>
                            <option value="Secretarianism">Secretarianism</option>
                            <option value="Anti-terrorism Act 1997 Ata">Anti-terrorism Act 1997 Ata</option>
                            <option value="Punjab Marriage Function ordinance 2016">Punjab Marriage Function ordinance 2016</option>
                            <option value="Tresspassing">Tresspassing</option>
                            <option value="Ehtram-e-Ramzan">Ehtram-e-Ramzan</option>
                            <option value="Smoking Health Ordinance">Smoking Health Ordinance</option>
                            <option value="Blind Murder">Blind Murder</option>
                            <option value="382 PPC">382 PPC</option>
                            <option value="Telephone Act">Telephone Act</option>
                            <option value="Car Snatching">Car Snatching</option>
                            <option value="Illegal Gas Cylinder Act">Illegal Gas Cylinder Act</option>
                            <option value="Kidnapping Minors">Kidnapping Minors</option>
                            <option value="Dacoity/Robbery with Murder">Dacoity/Robbery with Murder</option>
                            <option value="Habs e Beja">Habs e Beja</option>
                            <option value="Dacoity">Dacoity</option>
                            <option value="Punjab Food Authority Act 2011">Punjab Food Authority Act 2011</option>
                            <option value="Cigrette Act">Cigrette Act</option>
                            <option value="Gang Rape">Gang Rape</option>
                            <option value="Police Order Act">Police Order Act</option>
                            <option value="Kidnap for Ransom">Kidnap for Ransom</option>
                            <option value="Dengue Act">Dengue Act</option>
                            <option value="New Punjab Local Govt Ord 2011">New Punjab Local Govt Ord 2011</option>
                            <option value="Police Encounter">Police Encounter</option>
                            <option value="LDA Act 1975">LDA Act 1975</option>
                            <option value="Punjab Fertilizers Control Act">Punjab Fertilizers Control Act</option>
                            <option value="Prohibition of Expressing Matters on Walls Act 1995">Prohibition of Expressing Matters on Walls Act 1995</option>
                            <option value="Copyright Act">Copyright Act</option>
                            <option value="Touheen Quran Act">Touheen Quran Act</option>
                            <option value="Local Government Act">Local Government Act</option>
                            <option value="New Punjab Pure Food Ord 1960">New Punjab Pure Food Ord 1960</option>
                            <option value="Petrolium Act 1934">Petrolium Act 1934</option>
                            <option value="The Punjab Prohibition of Child Labour at Brick KIlns Ordinance 2016">The Punjab Prohibition of Child Labour at Brick KIlns Ordinance 2016</option>
                            <option value="Punjab Animal Slaughter Control Act">Punjab Animal Slaughter Control Act</option>
                            <option value="Protection of Pakistan Ordinance 2013">Protection of Pakistan Ordinance 2013</option>
                            <option value="Regulation and Control of Loudspeakers and Amplifiers">Regulation and Control of Loudspeakers and Amplifiers</option>
                            <option value="Canal Cut">Canal Cut</option>
                            <option value="The Anti Terrorism Act (ATA),1997">The Anti Terrorism Act (ATA),1997</option>
                            <option value="Other Vehicle Snatching">Other Vehicle Snatching</option>
                            <option value="Tree Theft Act">Tree Theft Act</option>
                            <option value="Railway Act">Railway Act</option>
                            <option value="Punjab University Broads Act">Punjab University Broads Act</option>
                        </select>
                    </div>
                                    
                    <div class="form-group-sm col-sm-6" style="margin-top: 5px;">
                        <label for="model">Model</label>
                        <select name="model" id="model" class="form-control" required>
                            <option value="day">Day</option>
                        </select>
                    </div>                

                    <div class="col-md-12" style="margin-top: 5px;">
                        <button class="btn btn-outline-success btn-sm" id="submit" type="submit" style="margin-top: 5px;">
                            <i class="fa fa-database" aria-hidden="true">Create Case</i>
                        </button>            
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
