<div class="row" style="background-image: url(./report.jpg); background-repeat: repeat; background-size: cover; background-position: center; background-attachment: fixed;">

        <div class="col-md-8">

            <div class="jumbotron"  style="margin-top: 10px;">
                <img src="./logo.jpg" alt="logo" style="width: 30%; height: 10%; float:right ;">
                <h1 class="display-3">CMAPS</h1>
            
                <p class="lead"><small>Crime Mapping Analysis and Prediction System</small></p>
                <p class="text-info">The Complete Security System</p>
            </div>
        </div>

    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Incidents Per Area.png" alt="Graph for crime count area wise.png"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-weight:bolder; font-size: 20px;  color: white;">
                Incidents Per Area <br> This graph shows percentage of crimes per area with percentage <br> on y-axis and areas on x-axis.  
            </p>
        </div>
    </div>
    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Incidents Per Weekday.png" alt="Graph for crime count area wise.png"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Incidents Per Weekday <br> This graph shows the percentage of <br> Incidents that occur per weekday with <br> percentage on y-axis and weekdays <br> on x-axis.
            </p>
        </div>
    </div>


    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom1">
            <img src="./Graphs/Average number of incidents per hour.png" alt="Average number of incidents per hour.png"  
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p   style="font-size: 20px; font-weight: bolder; color: white;">
               Average number of incidents per hour <br> This graph shows a relationship <br> between the number of incidents and <br> part of the day or hours.
            </p>
        </div>
    </div>

    <div class="row" style="padding: 20px; margin-bottom: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Crimes per Year.png" alt="Graph for crime count area wise.png" 
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Crimes per Year <br> This graph shows a the number of incidents or <br> crimes each year.
            </p>
        </div>
    </div>

    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Motorcycle Theft per area.png" alt="Motorcycle Theft per area.png"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px;font-weight: bolder; color: white;">
                Motorcycle Theft per area <br> This graph shows a relationship <br> between the number of Motorcycle Theft <br> and different areas of Lahore.
            </p>
        </div>
    </div>

    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Motorcycle Theft per month.png" alt="Motorcycle Theft per month.png"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Motorcycle Theft per month <br> This graph shows a relationship <br> between the number of Motorcycle Theft <br> and Months of the year.

            </p>
        </div>
    </div>
    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Motorcycle Theft per year.png" alt="Motorcycle Theft per year.png"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Motorcycle Theft per year <br> This graph shows a relationship <br> between the number of Motorcycle Theft <br> and Year.

            </p>
        </div>
    </div>
    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Number of crimes that have taken place on a certain part of day.png" alt="Number of crimes that have taken place on a certain part of day.png"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Number of crimes that have taken place on a certain part of day
            </p>
        </div>
    </div>
    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Number of crimes that have taken place on a certain weekday.png" alt="Number of crimes that have taken place on a certain weekday.png"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Number of crimes that have taken place on a certain weekday
            </p>
        </div>
    </div>
    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Total Number of crimes per area.png" alt="Total Number of crimes per area.png"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Total Number of crimes per area
            </p>
        </div>
    </div>
    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Types of Crime.png" alt="Types of Crime.png"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Types of Crime <br> This graph shows the <br> different types of crimes.
            </p>
        </div>
    </div>                        
</div>
