<div class="row" style="background-image: url(./report.jpg); background-repeat: repeat; background-size: cover; background-position: center; background-attachment: fixed;">

        <div class="col-md-8">

            <div class="jumbotron"  style="margin-top: 10px;">
                <img src="./logo.jpg" alt="logo" style="width: 30%; height: 10%; float:right ;">
                <h1 class="display-3">CMAPS</h1>
            
                <p class="lead"><small>Crime Mapping Analysis and Prediction System</small></p>
                <p class="text-info">The Complete Security System</p>
            </div>
        </div>                    

    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Scatter plot of Criminal Offences in Lahore.png" alt="Scatter plot of Criminal Offences in Lahore.png"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Types of Crime <br> This graph shows the <br> Scatter plot of Criminal Offences in Lahore.
            </p>
        </div>
    </div>                        

    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Crime against person in Lahore.png" alt="Crime against person in Lahore"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Types of Crime <br> This graph shows the <br> Crime against person in Lahore.
            </p>
        </div>
    </div>                        

    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Ordinance offences in Lahore.png" alt="Ordinance offences in Lahore"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Types of Crime <br> This graph shows the <br> Ordinance offences in Lahore.
            </p>
        </div>
    </div>                        

    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Police Acts in Lahore.png" alt="Police Acts in Lahore"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Types of Crime <br> This graph shows the <br> Police Acts in Lahore.
            </p>
        </div>
    </div>                        

    <div class="row" style="padding: 20px;">
        <div class="col-md-6" id="img_zoom">
            <img src="./Graphs/Thefts in Lahore.png" alt="Thefts in Lahore.png"
            style="width:100%; float: left;">
        </div>
        <div class="col-md-6">
            <p  style="font-size: 20px; font-weight: bolder; color: white;">
                Types of Crime <br> This graph shows the <br> Thefts in Lahore.
            </p>
        </div>
    </div>                        


</div>
