<div class="container text-center ">
  <h1 class="">Welcome To Admin Dashboard</h1>

  <hr>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4" >
        
        <div class="card bg-light border-info mb-3" style="max-width: 20rem;">
          <div class="card-header border-info">Cases</div>
            <div class="card-body">
              <h4 class="card-title">Cases Registered Count</h4>
              <p class="card-text text-info">
              <i class="fa fa-line-chart fa-2x" aria-hidden="true"></i> Cases = {{this.caseCount}}
              </p>
          </div>
        </div>
    </div>

    <div class="col-sm-4">
      <div class="alert alert-dismissible alert-info">
        <strong>Information</strong> <br>
        <small>This inforation is regarding the Quantity of Cases and The users this portal have.</small>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card bg-light border-info mb-3" style="max-width: 20rem;">
        <div class="card-header border-info">Users</div>
          <div class="card-body">
            <h4 class="card-title">Users Registered Count</h4>
            <p class="card-text text-info">
            <i class="fa fa-line-chart fa-2x" aria-hidden="true"></i> Users = {{this.userCount}}
            </p>
        </div>
      </div>

    </div>

    </div>
  </div><!--jumbotron end -->



</div>